<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>com.announce.controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayFullAddController</servlet-name>
        <servlet-class>com.announce.controller.DisplayFullAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BidsController</servlet-name>
        <servlet-class>com.announce.controller.BidsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeImages</servlet-name>
        <servlet-class>com.announce.controller.ServeImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemCommentsController</servlet-name>
        <servlet-class>com.announce.controller.ItemCommentsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFavourite</servlet-name>
        <servlet-class>com.announce.controller.AddFavourite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BidsViewer</servlet-name>
        <servlet-class>com.announce.controller.BidsViewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveListItem</servlet-name>
        <servlet-class>com.announce.controller.RemoveListItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayFullAddController</servlet-name>
        <url-pattern>/DisplayFullAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>edituser</servlet-name>
        <servlet-class>com.announce.controller.EditUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edituser</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>passwordReset</servlet-name>
        <servlet-class>com.announce.controller.PasswordRecoverController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>passwordReset</servlet-name>
        <url-pattern>/passwordReset</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogInController</servlet-name>
        <servlet-class>com.announce.controller.LogInController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInController</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logOffController</servlet-name>
        <servlet-class>com.announce.controller.logOffController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logOffController</servlet-name>
        <url-pattern>/logOff</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddItemController</servlet-name>
        <servlet-class>com.announce.controller.AddItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItemController</servlet-name>
        <url-pattern>/AddItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayAllItems</servlet-name>
        <servlet-class>com.announce.controller.DisplayAllItemsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayAllItems</servlet-name>
        <url-pattern>/viewAll</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchByItemBrand</servlet-name>
        <servlet-class>com.announce.controller.SearchByItemBrandController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchByItemBrand</servlet-name>
        <url-pattern>/ItemBrandControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayFullAddController</servlet-name>
        <url-pattern>/DisplayFullAddController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ItemCommentsInsertController</servlet-name>
        <servlet-class>com.announce.controller.ItemCommentsInsertController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemCommentsInsertController</servlet-name>
        <url-pattern>/ItemCommentsInsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BidsController</servlet-name>
        <url-pattern>/BidsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeImages</servlet-name>
        <url-pattern>/getImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemCommentsController</servlet-name>
        <url-pattern>/ItemCommentsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFavourite</servlet-name>
        <url-pattern>/AddFavourite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BidsViewer</servlet-name>
        <url-pattern>/BidsViewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveListItem</servlet-name>
        <url-pattern>/RemoveListItem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
